<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Title{% endblock %}</title>
 	<link rel="stylesheet" href="{{ asset('/css/jquery.dataTables.min.css') }}">
 	<script type="text/javascript" charset="utf8" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
 	<script type="text/javascript" charset="utf8" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
</head>
<body>

{% block body %}
{% endblock %}

</body>
</html>